[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vendor/TOML"]
	path = Vendor/TOML
	url = https://github.com/marzer/tomlplusplus.git
[submodule "Vendor/IMGUI"]
	path = Vendor/IMGUI
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Vendor/CATCH2"]
	path = Vendor/CATCH2
	url = https://github.com/catchorg/Catch2.git
[submodule "Vendor/ENTT"]
	path = Vendor/ENTT
	url = https://github.com/skypjack/entt.git
[submodule "Vendor/GLM"]
	path = Vendor/GLM
	url = https://github.com/g-truc/glm.git
