[submodule "Vendor/TOML"]
	path = Vendor/TOML
	url = https://github.com/marzer/tomlplusplus.git
[submodule "Vendor/IMGUI"]
	path = Vendor/IMGUI
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Vendor/CATCH2"]
	path = Vendor/CATCH2
	url = https://github.com/catchorg/Catch2.git
[submodule "Vendor/ENTT"]
	path = Vendor/ENTT
	url = https://github.com/skypjack/entt.git
[submodule "Vendor/GLM"]
	path = Vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/IMGUIZMO"]
	path = Vendor/IMGUIZMO
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Vendor/EASTL"]
[submodule "Vendor/SIMDJSON"]
	path = Vendor/SIMDJSON
	url = https://github.com/simdjson/simdjson
[submodule "Vendor/STB"]
	path = Vendor/STB
	url = https://github.com/nothings/stb
[submodule "Vendor/ANGELSCRIPT"]
	path = Vendor/ANGELSCRIPT
	url = https://github.com/anjo76/angelscript
[submodule "Vendor/SPDLOG"]
	path = Vendor/SPDLOG
	url = https://github.com/gabime/spdlog
